@font-face {
  font-family: 'db_ozone_xmedium';
  src: url('../fonts/dbozonex-medium.eot');
  src: url('../fonts/dbozonex-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/dbozonex-medium.woff') format('woff'), url('../fonts/dbozonex-medium.ttf') format('truetype'), url('../fonts/dbozonex-medium.svg#db_ozone_xmedium') format('svg');
  font-weight: normal;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: white;
    font-family: db_ozone_xmedium, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
.container {
    color: black;
    padding: 5px 5px;
    position: relative;
    background-color: inherit;
    width: 100%;
}
.content {
    position: relative;
    background-color: white;
    padding: 10px 10px 10px 10px;
}
.top {
    height: 240px;
    background: linear-gradient(to bottom, #3a5795 0%, #222 90%);
}
.profile {
    position: relative;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    background-size: 100px 100px;
    border: 6px solid white;
    transition: 250ms linear;
    z-index: 2;
}
.profile:hover {
    opacity: 0.6;
}
.profilebg {
    content: '';
    position: relative;
    margin-top: -55px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    background-size: 100px 100px;
    border: 6px solid white;
    transition: 250ms linear;
    z-index: 2;
}
p {
    text-align: left;
    font-size: 20px;
}
name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.img {
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    transition: 250ms linear;
}
.img:hover {
    opacity: 0.6;
}
g1,g2 {
    background-color: #066a5f;
}
#color button,#color2 button,#color3 button,#color4 button,#color5 button,#color6 button,#color7 button{
    width: 65px;
    height: 35px;
    margin-top: 15px;
    background-color: white;
    border: 1.5px solid black;
}
#color input,#color2 input,#color3 input,#color4 input,#color5 input,#color6 input,#color7 input{
    text-align: center;
    width: 85px;
    height: 35px;
    margin-top: 15px;
    background-color: white;
    border: 1.5px solid black;
}
textarea[type=text] {
    background-color: #ddd;
    width: 100%;
    height: 200px;
}
#copyfade,#copyfade2 {
    margin-top: 5px;
    color: #000;
    background-color: transparent;
    border: 2px solid #000;
    padding: 8px 40px 8px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}
#color2,#color3,#color4,#color5,#color6,#color7 {
    display: none;
}
#isinput {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
#guild1,#guild2 {
    color: #066a5f;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
.copy1,.copy2 {
    color: #066a5f;
    background-color: transparent;
    border: 2px solid #066a5f;
    padding: 8px 40px 8px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}
.copy1:hover,
.copy1:focus,
.copy2:hover,
.copy2:focus {
    color: #fff;
    background-color: #066a5f;
    border: 2px solid #fff;
    text-decoration: none;
    cursor: pointer;
}
.menu {
    position: relative;
    text-align: center;
    width: 100%;
    height: 120px;
}
.menu ul{
    padding: 0;
    margin: 0;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
    -webkit-padding-start: 0px!important;
}
.menu li{
	display:inline-block;
	margin-right:8px;
	width: 50px;
	height: 50px;
	border: 2px solid white;
	border-radius: 50%;
}
.menu li:hover {
    border: 2px solid gray;
}
.menu a{
	color:#fff;
	text-decoration:none;
}
.menu a:hover{
	color:#fff;
	text-decoration:none;
}
#colorp {
    display: none;
}
.text span {
    color: #222;
    font-size: 18pt;
}
.text span hi{
    color: #066a5f;
}
.text span red{
    color: red;
}
#text2,#text3 {
    display: none;
}
.left {
    left: 0;
    margin-left: 0px;
}
.right {
    right: 0;
    margin-top: -49px;
    margin-right: 0px;
    text-align: right;
}
.right button {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 2px solid black;
    background-color: transparent;
}
@media screen and (min-width: 700px){
	HTML::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #000000;
	}
	HTML::-webkit-scrollbar
	{
		width: 10px;
		background-color: #000000;
	}
	HTML::-webkit-scrollbar-thumb
	{
		background-color: #066a5f;	
		background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
	}
}
@media screen and (max-width: 600px){
	.top {
		height: 150px;
	}
	.img {
		height: 200px;
	}
}