body {
	overflow: hidden;
}
#loader {
	display: block;
	position: fixed;
	background-color: #222;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
#loading {
	color: white;
	margin-top: 30px;
	margin-left: 35px;
	font-size: 30px;
}
#loading::before {
	content: '';
	position: absolute;
	width: 35px;
	height: 35px;
	margin-left: -40px;
	border: 4px solid white;
	border-radius: 50%;
	border-top-color: #3399ff;
	animation: rotate2 1000ms infinite linear;
}
@keyframes rotate2 {
	0% { transform: rotate(-45deg);
		 border-left-color: white;}
	25% { border-left-color: white; }
	50% { border-left-color-color: white; }
	75% { border-left-color: #3399ff; }
	100% { transform: rotate(315deg);
		   border-left-color: white; }
}
.img-loader {
display: block;
width: 192px;
height: 192px;
margin-top: 20%;
position: relative;
animation: img-loader 2.3s infinite ease;
-o-animation: img-loader 2.3s infinite ease;
-ms-animation: img-loader 2.3s infinite ease;
-webkit-animation: img-loader 2.3s infinite ease;
-moz-animation: img-loader 2.3s infinite ease;
}
@keyframes img-loader {
0% {
transform: rotate(0deg);
}

50% {
transform: rotate(360deg);
}

100% {
transform: rotate(360deg);
}
}

@-o-keyframes img-loader {
0% {
transform: rotate(0deg);
}

50% {
transform: rotate(180deg);
}

75% {
transform: rotate(360deg);
}

100% {
transform: rotate(360deg);
}
}

@-ms-keyframes img-loader {
0% {
transform: rotate(0deg);
}

50% {
transform: rotate(360deg);
}

100% {
transform: rotate(360deg);
}
}

@-webkit-keyframes img-loader {
0% {
transform: rotate(0deg);
}

50% {
transform: rotate(180deg);
}

75% {
transform: rotate(360deg);
}

100% {
transform: rotate(360deg);
}
}

@-moz-keyframes img-loader {
0% {
transform: rotate(0deg);
}

50% {
transform: rotate(180deg);
}

75% {
transform: rotate(360deg);
}

100% {
transform: rotate(360deg);
}
}

/* Smaller Screens */
@media only screen and (max-width: 1125px){
	.img-loader {
		margin-top: 30%;
    }
}