@font-face {
  font-family: 'db_ozone_xmedium';
  src: url('../fonts/dbozonex-medium.eot');
  src: url('../fonts/dbozonex-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/dbozonex-medium.woff') format('woff'), url('../fonts/dbozonex-medium.ttf') format('truetype'), url('../fonts/dbozonex-medium.svg#db_ozone_xmedium') format('svg');
  font-weight: normal;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: white;
    font-family: db_ozone_xmedium, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
.container {
    color: black;
    padding: 5px 5px;
    position: relative;
    background-color: inherit;
    width: 100%;
}
.content {
    position: relative;
    background-color: white;
    padding: 10px 10px 10px 10px;
}
.top {
    height: 240px;
    background: linear-gradient(to bottom, #3a5795 0%, #222 90%);
}
.profile {
    position: relative;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    background-size: 100px 100px;
    border: 6px solid white;
    transition: 250ms linear;
    z-index: 2;
}
.profile:hover {
    opacity: 0.6;
}
.profilebg {
    content: '';
    position: relative;
    margin-top: -55px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    background-size: 100px 100px;
    border: 6px solid white;
    transition: 250ms linear;
    z-index: 2;
}
p {
    text-align: left;
    font-size: 20px;
}
name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
c {
	color: #3a5795;
    font-weight: bold;
}
ht {
    color: #fff;
    background-color: #00cccc;
}
.img {
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    transition: 250ms linear;
}
.img:hover {
    opacity: 0.6;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    botton: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 2;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;;
}

/* The Close Button */
.close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (min-width: 700px){
	HTML::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #000000;
	}
	HTML::-webkit-scrollbar
	{
		width: 10px;
		background-color: #000000;
	}
	HTML::-webkit-scrollbar-thumb
	{
		background-color: #3a5795;	
		background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
	}
}
@media screen and (max-width: 600px){
	.top {
		height: 150px;
	}
	.img {
		height: 200px;
	}
}