* {
    box-sizing: border-box;
}
body {
    background-color: #222;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
button {
    color: #3399ff;
    background-color: transparent;
    border: 1px solid #3399ff;
    font-size: 17px;
    margin-top: 10px;
    padding: 20px 52px 20px 52px;
}
button:hover {
    color: white;
    background-color: #3399ff;
    border: 1px solid #3399ff;
}
button:focus {
    color: white;
    background-color: #3399ff;
    border: none;
}
.box {
    display: block;
    position: relative;
    margin-top: 40px;
}
.mod {
    content: '';
    width: 145px;
    height: 145px;
    background-color: #fff;
    border-radius: 1px;
}
.content {
    margin: 5px;
    font-shadow: 0px 1px 1px #fff;
}
#red {
    color: red;
    background-color: transparent;
    border: 1px solid red;
}
#red:hover {
    color: white;
    background-color: red;
    border: 1px solid red;
}
#red:focus {
    color: white;
    background-color: red;
    border: none;
}
#black {
    color: black;
    background-color: transparent;
    border: 1px solid black;
}
#black:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
}
#black:focus {
    color: white;
    background-color: black;
    border: none;
}
#green {
    color: green;
    background-color: transparent;
    border: 1px solid green;
}
#green:hover {
    color: white;
    background-color: green;
    border: 1px solid green;
}
#green:focus {
    color: white;
    background-color: green;
    border: none;
}
.modal {
    display: none;
    position: fixed;
    width: 90%;
    background-color: rgba(0,0,0,0.9);
    margin: 10px;
    padding: 17px;
    top: 20px;
    border-radius: 5px;
}

.cha-open {
    -webkit-animation: cha-open 0.1s;
    animation: cha-open 0.1s; 
}
.cha-open.cha-noanimation {
    -webkit-animation: none;
    animation: none; 
}

.cha-show {
    -webkit-animation: cha-show 0.3s;
    animation: cha-show 0.3s; 
}
.cha-show.cha-noanimation {
    -webkit-animation: none;
    animation: none; 
}

.cha-hide {
    -webkit-animation: cha-hide 0.15s forwards;
    animation: cha-hide 0.15s forwards; 
}
.cha-noanimation {
    -webkit-animation: none;
    animation: none; 
}

@-webkit-keyframes cha-show {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7); 
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05); 
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95); 
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1); 
    } 
}

@keyframes cha-show {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7); 
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05); 
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95); 
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1); 
    } 
}

@-webkit-keyframes cha-hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; 
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0; 
    } 
}

@keyframes cha-hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; 
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0; 
    } 
}

@keyframes cha-open {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5); 
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1); 
        opacity: 1;
    } 
}

@media only screen and (max-width: 700px){
	body {
		background-size: 100% 150px;
	}
	header {
		margin-top: 150px;
	}
}
}