* {
    box-sizing: border-box;
}
body {
    background-color: #222;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
header {
    display: block;
    position: absolute;
    height: 200px;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0px 2px 0px white;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*transition: height 50ms linear;*/
}
video {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    background-size: cover;
    transition: 1s opacity;
}
#time {
    display: none;
    font-size: 20px;
    transition: 250ms opacity;
}
#timer {
    font-size: 50px;
}
#dateS {
    margin-top: -50px;
}
.timeline {
    color: black;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: left;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 8px;
}
.container {
    padding: 5px 5px;
    position: relative;
    background-color: inherit;
    width: 90%;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -30px;
    background-color: #3399ff;
    border: 2px solid white;
    top: 22px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 10px;
}
.left::before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: -4px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.content {
    padding: 10px 10px 10px 10px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
@media screen and (max-width: 600px){
}
name, dt{
    padding-left: 40px;
}
name {
    font-weight: bold;
}
profile {
    content: '';
    position: absolute;
    top: 9;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url('../images/Chakung.png');
    background-size: 35px 35px;
}
dt{
    color: #aaa;
    font-size: 12px;
}
c {
    font-size: 14px;
}
ht {
    color: #fff;
    background-color: #00cccc;
}
.img {
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    transition: 250ms linear;
}
.img:hover {
    opacity: 0.6;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    botton: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 2;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;;
}

/* The Close Button */
.close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}